/* HOME - Section 1 */

#section1 {
  background-image: url("/assets/img/lg/bg2024_lg.webp"); /* L */
  background-position: 50% 20%;
}

@media (max-width: 1280px) {
  #section1 {
    background-image: url("/assets/img/md/bg2024_md.webp"); /* M */
  }
}

@media (max-width: 768px) {
  #section1 {
    background-image: url("/assets/img/s/bg2024_xs.webp"); /* S */
  }
}

/* HOME - Section 2 - music */

#section2 {
  background-image: url("/assets/img/lg/persha3_lg.webp"); /* L */
  background-position: 50% 20%;
}

@media (max-width: 1280px) {
  #section2 {
    background-image: url("/assets/img/md/persha3_md.webp"); /* M */
  }
}

@media (max-width: 768px) {
  #section2 {
    background-image: url("/assets/img/s/persha3_xs.webp"); /* S */
  }
}

/* HOME - Section 3 - live */

#section3 {
  background-image: url("../img/lg/live2_lg.webp"); /* L */
}

@media (max-width: 1280px) {
  #section3 {
    background-image: url("../img/md/live2_md.webp"); /* M */
  }
}

@media (max-width: 768px) {
  #section3 {
    background-image: url("../img/s/live2_xs.webp"); /* S */
  }
}

/* HOME - Section 4 - videos */

#section4 {
  background-image: url("../img/lg/persha2_lg.webp"); /* L */
  background-position: 50% 20%;
}

@media (max-width: 1280px) {
  #section4 {
    background-image: url("../img/md/persha2_md.webp"); /* M */
  }
}

@media (max-width: 768px) {
  #section4 {
    background-image: url("../img/s/persha2_xs.webp"); /* S */
  }
}

/* HOME - Section 5 - bio */

#section5 {
  background-image: url("../img/lg/persha1_lg.webp"); /* L */
  background-position: 50% 20%;
}

@media (max-width: 1280px) {
  #section5 {
    background-image: url("../img/md/persha1_md.webp"); /* M */
  }
}

@media (max-width: 768px) {
  #section5 {
    background-image: url("../img/s/persha1_xs.webp"); /* S */
  }
}

/* HOME - Section 6 - contact */

/* LIVE */

.bg-image-live {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../img/lg/live_l.webp"); /* L */
}

@media (max-width: 1280px) {
  .bg-image-live {
    background-image: url("../img/lg/live_l.webp"); /* M, L */
  }
}

@media (max-width: 768px) {
  .bg-image-live {
    background-image: url("../img/s/live_s.webp"); /* S */
  }
}

/* BIO */

/* CONTACT */
