footer {
  width: 100%;
  background-color: #101012;
  color: #ff3399;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
}

footer a {
  color: #ff3399;
}

footer a:hover {
  color: #ff66b2;
}
