footer {
  width: 100%;
  background-color: #101012;
  color: #d796f2;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
}

footer a {
  color: #d796f2;
}

footer a:hover {
  color: #86469c;
}
