/* nav */

header {
  position: relative;
  width: 100%;
  z-index: 1000;
  margin-top: 4.5vh;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #101012;
  margin-top: 80px;
  padding-bottom: 60px;
}

nav {
  display: flex;
  padding-left: 10px; /* Optional: Add padding for spacing from the edge */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  font-family: "Kanit", sans-serif;
  color: #d796f2;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
}

nav a:hover {
  color: #86469c;
}

.logo {
  height: 30px;
  width: auto;
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 0.2rem #d796f2, /* Neon text color */ 0 0 0.5rem #d796f2; /* Reduced halo effect */

    box-shadow: none; /* Remove box-shadow to eliminate the background effect */
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

/* Apply flicker animation only to the first nav link */
nav a.flicker-effect {
  animation: flicker 1.5s infinite;
}

nav a.flicker-effect:hover {
  animation: flicker 1.5s infinite alternate; /* Keep flicker on hover */
  box-shadow: none; /* Ensure no box-shadow on hover */
}

/* Style pour l'élément aside */
aside.social-icons {
  position: fixed;
  top: 50%; /* Positionne l'aside au milieu de l'écran verticalement */
  right: 30px; /* Distance par rapport au bord gauche */
  transform: translateY(-50%); /* Centre l'aside verticalement */
}

aside.social-icons ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

aside.social-icons li {
  margin: 0.8em 0;
}

aside.social-icons li a {
  color: #d796f2;
  font-size: 1.6em;
  text-decoration: none;
}

aside.social-icons li a:hover {
  color: #86469c;
  transition: color 0.3s ease;
}
