/* Header */
header {
  position: relative;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background-color: #101012;
  padding-bottom: 3.75rem;
  padding-top: 4rem;
}

header h1 {
  font-weight: 800;
  color: #ffe6f2;
  text-shadow: 0 0 8px rgba(255, 51, 153, 1), 0 0 16px rgba(255, 51, 153, 0.8),
    0 0 24px rgba(255, 51, 153, 0.6), 0 0 40px rgba(255, 51, 153, 0.4);
}

nav {
  display: flex;
  padding-left: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #ffe6f2;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.07em;
  text-shadow: 0 0 8px rgba(255, 51, 153, 1), 0 0 16px rgba(255, 51, 153, 0.8),
    0 0 24px rgba(255, 51, 153, 0.6), 0 0 40px rgba(255, 51, 153, 0.4);
  -webkit-font-smoothing: antialiased; /* Lissage des polices pour Safari */
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease; /* Transition fluide */
}

nav a:hover {
  color: #ff2a84;
  text-shadow: 0 0 12px rgba(255, 51, 153, 1); /* Ombre plus nette au hover */
  transform: translateY(-2px); /* Effet de remontée lors du survol */
  background-color: transparent; /* Assure qu'il n'y ait pas de fond ajouté */
  transition: text-shadow 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Transition fluide */
}

/* Logo */
.logo {
  height: 30px;
  width: auto;
}

/* Icônes sociales */
aside.social-icons {
  position: fixed;
  top: 50%; /* Centré verticalement */
  right: 30px;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
  z-index: 9999; /* Assure que l'aside reste au-dessus */
}

aside.social-icons ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside.social-icons li {
  margin: 0.8em 0;
}

aside.social-icons li a {
  color: #ff3399;
  font-size: 1.6em;
  text-decoration: none;
}

aside.social-icons li a:hover {
  color: #ff66b2;
  transition: color 0.3s ease;
}

/* Responsive design */
@media (max-width: 1000px) {
  nav {
    display: flex;
    justify-content: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li:first-child {
    width: 100%; /* "PERSHA" de la nav prend toute la largeur */
    text-align: center;
    font-size: 2em;
  }

  aside.social-icons {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 10px;
    z-index: 9999;
  }

  aside.social-icons ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  aside.social-icons li {
    margin: 0 10px;
  }

  aside.social-icons li a {
    color: #ff3399;
    font-size: 1.6em;
    text-decoration: none;
  }

  aside.social-icons li a:hover {
    color: #ff66b2;
    transition: color 0.3s ease;
  }
}

/* Styles supplémentaires pour Safari */
@supports (-webkit-touch-callout: none) {
  nav a {
    -webkit-transition: color 0.3s ease, background-color 0.3s ease; /* Pour les anciens Safari */
  }

  nav a:hover {
    -webkit-transform: scale(
      1.05
    ); /* Mise à l'échelle plus fluide dans Safari */
    transform: scale(1.05);
  }
}
