/* Appliquer le filtre uniquement sur les sections de home.html */
.home-page .section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* color: gainsboro; */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3); /* Couleur noire semi-transparente */
  background-blend-mode: darken; /* Mélange la couleur avec l'image */
  overflow: hidden;
  position: relative; /* Nécessaire pour le positionnement du texte */

  color: #ffe6f2;
  text-shadow: 0 0 8px rgba(255, 51, 153, 1), 0 0 16px rgba(255, 51, 153, 0.8),
    0 0 24px rgba(255, 51, 153, 0.6), 0 0 40px rgba(255, 51, 153, 0.4);
}

/* Liens et effets au survol */
.home-page .section a {
  color: #ffe6f2;
  text-shadow: 0 0 8px rgba(255, 51, 153, 1), 0 0 16px rgba(255, 51, 153, 0.8),
    0 0 24px rgba(255, 51, 153, 0.6), 0 0 40px rgba(255, 51, 153, 0.4);
}

.home-page .section a:hover {
  color: #ff2a84;
  text-shadow: 0 0 1px rgba(255, 51, 153, 1),
    /* Réduction du rayon */ 0 0 12px rgba(255, 51, 153, 0.7),
    0 0 18px rgba(255, 51, 153, 0.5), 0 0 24px rgba(255, 51, 153, 0.3); /* Réduction des halos */
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

/* Titres */
.home-page .section-title {
  font-size: clamp(3rem, 8vw, 8rem);
  text-transform: uppercase;
  position: relative; /* Nécessaire pour que le texte soit au-dessus du fond */
  z-index: 2; /* Assure que le texte reste au-dessus du fond sombre */
  filter: blur(0.6px);
}

/* Styles spécifiques aux sections */
.home-page #section1,
.home-page #section2,
.home-page #section3,
.home-page #section4,
.home-page #section5 {
  height: 100vh;
  position: relative; /* Nécessaire pour le positionnement de l'image et du texte */
}

/* Section 6 - Pas d'overlay appliqué ici */
.home-page #section6 {
  height: 30vh;
  background-color: #161619;
}

.home-page #section6 .section-title {
  font-size: clamp(2rem, 3vw, 4rem);
}
