body {
  margin: 0;
  /* overflow: hidden; Masque le défilement normal de la page */
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
}

.section-title a {
  color: inherit; /* Hérite la couleur du parent (h2) */
  text-decoration: none;
}

.section-title a:hover {
  color: #eb159c;
  transition: color 0.3s ease;
}

.section-title {
  font-size: clamp(
    3rem,
    5vw,
    6rem
  ); /* Taille par défaut pour les autres sections */
  color: whitesmoke;
  text-transform: uppercase;
}

#section1 .section-title {
  font-size: clamp(3rem, 8vw, 8rem);
}

/* .neon {
  text-shadow: 0 0 5px rgb(160, 54, 163), 0 0 10px rgb(160, 54, 163),
    0 0 20px rgb(160, 54, 163), 0 0 40px rgb(160, 54, 163),
    0 0 80px rgb(160, 54, 163), 0 0 90px rgb(160, 54, 163),
    0 0 100px rgb(160, 54, 163);
} */

#section6 .section-title {
  font-size: clamp(2rem, 3vw, 4rem);
}

#section1 {
  height: 100vh;
  background-image: url("/assets/img/bg2024_lg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

/* bg img for medium screens */
@media (max-width: 1280px) {
  #section1 {
    background-image: url("/assets/img/bg2024_md.webp"); /* Image de fond pour les écrans moyens */
  }
}

/* bg img for smaller screens */
@media (max-width: 768px) {
  #section1 {
    background-image: url("/assets/img/bg2024_xs.webp"); /* Image de fond pour les écrans petits */
  }
}

#section2 {
  height: 80vh;
  background-color: #33c1ff;
}

#section3 {
  height: 80vh;
  background-color: #33ff57;
}

#section4 {
  height: 80vh;
  background-color: #ff33b5;
}

#section5 {
  height: 80vh;
  background-color: #330c25;
}

#section6 {
  height: 30vh;
  background-color: #b9b1b6;
}
