/* Appliquer l'overlay uniquement sur les sections de home.html */
.home-page .section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: gainsboro;
  background-size: cover;
  background-position: center; /* Positionner correctement l'arrière-plan */
  background-repeat: no-repeat;
  background-color: #212226;
  overflow: hidden;
  position: relative; /* Nécessaire pour le positionnement de l'overlay */
}

/* Filtre d'arrière-plan appliqué à toutes les sections sauf contact (section 6) */
.home-page .section:not(#section6)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Fond sombre pour le contraste */
  filter: blur(
    8px
  ); /* Applique un léger flou pour améliorer la lisibilité du texte */
  z-index: 0; /* Met l'overlay sous le texte */
}

/* Liens et effets au survol */
.home-page .section a {
  color: #d796f2;
}

.home-page .section a:hover {
  color: #86469c;
  transition: color 0.3s ease;
}

/* Titres */
.home-page .section-title {
  font-size: clamp(3rem, 8vw, 8rem);
  color: gainsboro;
  text-transform: uppercase;
  position: relative; /* Nécessaire pour que le texte soit au-dessus du fond sombre */
  z-index: 2; /* Pour que le texte reste au-dessus de l'overlay */
}

/* .home-page .section-title a {
  text-decoration: none;
} */

/* Styles spécifiques aux sections */
.home-page #section1,
.home-page #section2,
.home-page #section3,
.home-page #section4,
.home-page #section5 {
  height: 80vh;
  position: relative; /* Nécessaire pour l'overlay */
  background-size: cover;
  background-position: 50% 20%; /* Utilisation de la position d'arrière-plan */
  background-repeat: no-repeat;
  background-color: #212226;
}

.home-page #section6 {
  height: 30vh;
  background-color: #3c3e45;
}

.home-page #section6 .section-title {
  font-size: clamp(2rem, 3vw, 4rem);
}
