.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: gainsboro;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #212226;
  overflow: hidden;
}

.section a {
  color: #d796f2;
}

.section a:hover {
  color: #86469c;
  transition: color 0.3s ease;
}

.section-title {
  font-size: clamp(3rem, 8vw, 8rem);
  color: gainsboro;
  text-transform: uppercase;
}

.section-title a {
  color: inherit;
  text-decoration: none;
}

.section-title a:hover {
  color: #86469c;
  transition: color 0.3s ease;
}

/* Styles spécifiques aux sections */
#section1 {
  height: 100vh;
  position: relative;
}

#section1 .section-title,
#section1 h1 {
  position: relative;
  z-index: 2;
}

#section1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#section2,
#section3,
#section4,
#section5 {
  height: 80vh;
}

#section6 {
  height: 30vh;
  background-color: #867ab6;
}

#section6 .section-title {
  font-size: clamp(2rem, 3vw, 4rem);
}
