.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
}

.section a {
  color: #d796f2;
}

.section a:hover {
  color: #86469c;
  transition: color 0.3s ease;
}

.section-title a {
  color: inherit; /* Hérite la couleur du parent (h2) */
  text-decoration: none;
}

.section-title a:hover {
  color: #86469c;
  transition: color 0.3s ease;
}

.section-title {
  font-size: clamp(
    3rem,
    8vw,
    8rem
  ); /* Taille par défaut pour les autres sections */
  color: whitesmoke;
  text-transform: uppercase;
}

#section1 .section-title {
  font-size: clamp(3rem, 8vw, 8rem);
  color: whitesmoke;
}

#section6 .section-title {
  font-size: clamp(2rem, 3vw, 4rem);
}

#section1 {
  height: 100vh;
  position: relative;
  background-image: url("/assets/img/bg2024_lg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #212226;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  overflow: hidden;
}

#section1::before {
  content: "";
  position: absolute; /* Positionnement absolu pour couvrir le parent */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Overlay semi-transparent */
  z-index: 1; /* Positionne l'overlay en dessous du texte */
}

#section1 h1 {
  position: relative; /* Nécessaire pour le z-index */
  z-index: 2; /* Pour que le texte soit au-dessus de l'overlay */
}

/* bg img for medium screens */
@media (max-width: 1280px) {
  #section1 {
    background-image: url("/assets/img/bg2024_md.webp");
  }
}

/* bg img for smaller screens */
@media (max-width: 768px) {
  #section1 {
    background-image: url("/assets/img/bg2024_xs.webp");
  }
}

#section2 {
  height: 80vh;
  background-color: #212226;
}

#section3 {
  height: 80vh;
  background-color: #4f505e;
}

#section4 {
  height: 80vh;
  background-color: #38383d;
}

#section5 {
  height: 80vh;
  background-color: #520075;
}

#section6 {
  height: 30vh;
  background-color: #867ab6;
}

.section a {
  color: #d796f2;
}
