.wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
}

main {
  flex: 1; /* Main prend tout l'espace disponible dans le wrapper */
}

/* Scroll up button */

#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 80px;
  z-index: 1000;
}

#to-top {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
