/* HOME PAGE */

.bg-default {
  background-image: url("/assets/images/bg2024_large.webp");
}
@media only screen and (min-width: 320px) and (max-width: 992px) {
  .bg-default {
    background-image: url("/assets/images/bg2024_small.webp");
  }
}

/* MUSIC */

.bg-music {
  background-image: url("/assets/images/music-web.jpg");
}
@media only screen and (min-width: 320px) and (max-width: 992px) {
  .bg-music {
    background-image: url("/assets/images/music-mob.jpg");
  }
}

/* LIVE */

.bg-live {
  background-image: url("/assets/images/live_desk3.jpeg");
}
@media only screen and (min-width: 320px) and (max-width: 992px) {
  .bg-live {
    background-image: url("/assets/images/live_mob.jpeg");
  }
}

/* VIDEOS */

.bg-videos {
  background-image: url("/assets/images/videos-web.jpg");
}
@media only screen and (min-width: 320px) and (max-width: 992px) {
  .bg-videos {
    background-image: url("/assets/images/videos-mob.jpg");
  }
}

/* BIO */

.bg-bio {
  background-image: url("/assets/images/bio-web.jpg");
}
@media only screen and (min-width: 320px) and (max-width: 992px) {
  .bg-bio {
    background-image: url("/assets/images/bio-mob.jpg");
  }
}

/* CONTACT */

.bg-contact {
  background-image: url("/assets/images/contact-web.jpg");
}
/* @media only screen and (min-width: 320px) and (max-width:992px) {
      .bg-contact {
          background-image: url("/assets/images/.jpg");
      }
  } */
