.home-page .section a {
  text-decoration: none;
}

.text-bloc {
  color: gainsboro;
}

.tour-dates {
  text-transform: uppercase;
  font-weight: bold;
}

.spotify-profile-link {
  color: #ff3399;
  font-size: clamp(2rem, 7vw, 8rem);
  text-transform: uppercase;
}

.spotify-profile-link:hover {
  color: #ff66b2;
}

.discography {
  color: #ff3399;
  font-size: clamp(1rem, 2vw, 3rem);
  text-transform: uppercase;
  text-decoration: underline;
}

.bio-link {
  color: #ff3399;
}
.bio-link:hover {
  color: #ff66b2;
}
