/* HEADER */
header h1,
nav ul li a {
  color: #ffe6f2;
}

/* HOMEPAGE */
.home-page .section a {
  text-decoration: none;
}
.home-page h3 {
  text-transform: uppercase;
}

/* BIO */
.text-bloc {
  color: gainsboro;
}

.bio-link,
.purchase {
  color: #ff3399;
}
.bio-link:hover {
  color: #ff66b2;
}
.purchase:hover {
  color: #ff66b2;
}

/* LIVE */

.tour-dates {
  text-transform: uppercase;
  font-weight: bold;
}

/* MUSIC */

.spotify-profile-link {
  color: #ff3399;
  font-size: clamp(2rem, 7vw, 8rem);
  text-transform: uppercase;
}

.spotify-profile-link:hover {
  color: #ff66b2;
}

.discography {
  color: #ff3399;
  font-size: clamp(1rem, 2vw, 3rem);
  text-transform: uppercase;
  text-decoration: underline;
}

/* FOOTER */
footer {
  font-size: x-small;
}
