.video-thumbnail {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
}

.video-thumbnail:hover {
  transform: scale(1.05);
}

.video-item {
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

